<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Mini blog</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <!-- Header -->
  <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/homes">Home</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">  
          <li class="dropdown">
           <% if current_user %>
           <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
             <i class="glyphicon glyphicon-user"></i>
             Hi <%= current_user.display_name %>
             <span class="caret"></span></a>
             <% else %>
             <%= link_to "Sign up", sign_up_path %>
             <span class="caret"></span></a>
             <% end %>  
             <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="#">My Profile</a></li>
            </ul>
          </li>s
          <li>
           <% if current_user %>
           <%= link_to "Logout", log_out_path %>
           <i class="glyphicon glyphicon-lock"></i>
           <% else %>
           <%= link_to "log in", log_in_path %>
           <i class="glyphicon glyphicon-lock"></i>
           <% end %>
         </li>
       </ul>
     </div>
   </div>
 </div>
 <!-- /Header -->
 <!-- Main -->
 <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"> 
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <h5>Settings <i class="glyphicon glyphicon-chevron-down"></i></h5>
        </a>
        <ul class="list-unstyled collapse in" id="userMenu">
          <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
          <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
          <li><a href="#" ><i class="glyphicon glyphicon-comment"></i>Edit Profile</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
        </ul>
      </li>   
    </div>
    <div class="col-sm-9">  
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>My miniblog training</h4></div>
          <div class="panel-body">
            <div class="list-group">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /Main -->
<footer class="text-center">My teamplate</a>
</footer>
</div>
</body>
</html>