<script>
 CKEDITOR.replace('content');
</script>
<%- model_class = Post -%>
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <a href="#"><%= image_tag @post.image.url(:medium) %></a>
      <div class="caption">
        <h3><a href="#"><%= @post.title %></h3></a>
        <h6 class="media-heading"><%= @post.created_at %></h6>
        <p class="text-justify"><%= @post.description%></p>
        <p class="text-justify"><%= raw(@post.content)%></p>
        <div class="field">
          <i class="icon-comment"></i>
          <div style="color:red">Add comment</div>
          <textarea class="textareawidth" id ="content" rows="3" name="comment"></textarea></br>
          <div class="btn-al"><button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>
               Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
             </p>
           </div>
         </li>
       </ul>
       <p>
        <% if current_user.nil? %>
        <%= link_to "Back", homes_path,:class => 'btn btn-xs btn-danger' %>
        <%else%>
        <%= link_to 'Edit', edit_post_path(@post),:class => 'btn btn-default btn-xs' %>
        <%= link_to "Back", posts_path,:class => 'btn btn-xs btn-danger' %>
        <%end%>
      </p>
    </div>
  </div>
</div>
</div>
