<div class="col-md-12">
  <% @posts.each_with_index do |post, idx| %>
  <% if idx % 2 == 0 %>
  <div class="row">
    <%end %>
    <div class="col-md-6 portfolio-item">
      <div class="col-sm-4">
        <a href="#">
          <%= image_tag post.image.url(:thumb), :class => 'img-thumbnail' %>
        </a>
     </div>
     <div class="col-sm-8">
      <div class="dropdown badge pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b> </a>
        <ul class="dropdown-menu">
          <li>
          <span class ="left_readmore"><%=image_tag "read_more.png"%>
          <a href=<%= post_path(post)%>>Read more</a>
          </span>
          </li>
          <% if current_user && current_user.id == post.user_id%>
          <li>
            <span class ="left_readmore"><%=image_tag "edit.png"%>
            <%= link_to "Edit", edit_post_path(post)%>  
            </span>
          </li>
          <li>
          <span class ="left_readmore"><%=image_tag "delete.png"%> 
            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%>
          </span>
          </li>
          <%end%>
        </ul>
      </div>
      <div class="title">
        <span class="icon-bar"></span>
        <a href="#"><%= link_to post.title.capitalize, post%></a>
      </div>
      <div class="date"> <%= date_format(post.created_at) %> | Author: <a href="#"><%= post.user.username%></a></div>
      <p class="text-justify">
       <%= post.description %>
     </p>
   </div>                
 </div>
 <% if idx % 2 != 0 %>
</div> 
<%end %>
<%end%>
<%if @posts.count%2!=0 %>
</div>
<%end%>
<div class="row text-center">
  <div class="col-lg-12">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
 </div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-toggle").dropdown();
  });  
</script>
