<%- model_class = Post -%>
<div class="panel-body">
  <div class="list-group">
<% @posts.each do |post| %>
    <div class="media col-sm-5">
      <a class="pull-left projectImg" href="#">
        <%= image_tag post.image.url(:thumb), :class =>'img-thumbnail' %>
      </a>
      <div class="media-body">
        <p hidden><%= post.id%></p>
        <h4 class="media-heading"><%= link_to post.title, post %></h4>
        <h6 class="media-heading"><%= post.created_at %></h6>
        <p class="text-justify">
         <%= post.description%>
       </p>
       <div class="pull-left">
         <% if current_user.nil? %>
         <div>
         </div>
         <%elsif current_user.id == post.user_id %>
         <%= link_to 'Edit', edit_post_path(post),:class => 'btn btn-default btn-xs' %>
         <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" },:class => 'btn btn-xs btn-danger' %>
         <%end%>
       </div>
     </div>
     <div>
     </div>
   </div>
   <%end%>
 </div>
</div>
<%= will_paginate @posts %>


