<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Log in</h1>
		<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class =>'text-center' %>
        <% end %>
		<%= form_tag logins_path do %>
		<p class="text-center">
			<%= label_tag :username %>: <%= text_field_tag :username, params[:username], :required =>'' %>
		</p>
		<p class="text-center">
			<%= label_tag :password %>: <%= password_field_tag :password,params[:password],:required =>'' %>
		</p>
		<p class="button text-center"><%= submit_tag "Log in",class: "btn btn-primary" %></p>
		<% end %>
	</div>
</div>

